* {
	box-sizing: border-box;
}

h3 {
	font-size: 1.3em;
	line-height: 1.25em;
	margin-top: .85em;
	margin-bottom: .5em;
}

p {
	font-size: .875em;
	line-height: 1.4;
	margin: 0 0 1.5em;
}

.container {
	width: 100%;
	max-width: 1260px;
	padding: 0 2.25em 4em;
	margin: 0 auto;
}

.main-header {
	text-align: center;
	padding: 2.8em 0 3.8em;
}

.cube-container {
	max-width: 250px;
	text-align: center;
	margin: 0 auto 4.5em;
}

.photo-desc {
	font-size: .85em;
	color: black;
	padding: 1.1em 1em 0;
	background: #b4e3fd;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

@media (min-width: 769px) {
	.cube-container {
		float: left;
		margin-left: 16.6%;
	}
}

@media (min-width: 1025px) {
	.cube-container:first-child {
		float: left;
		margin-left: 0;
	}

	.cube-container:last-child {
		float: right;
	}

	.content {
		margin: 0 auto;
	}
}

.cube-container {
	box-shadow: 0 17px 40px 5px rgba(0, 0, 0, .4);
	perspective: 800px;
}

.photo-cube {
	transition: transform 2s ease-in-out;
	width: 270px;
	height: 270px;
	transform-style: preserve-3d;
}

.photo-cube:hover {
	transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}

.front {
	transform: translate3d(0, 0, 160px);
}

.back {
	transform: translateZ(-110px) rotateY(270deg);
	transform-origin: center left;
}

.left {
	transform: rotateY(-270deg) translate3d(110px, 0, 0);
	transform-origin: top right;
}

.right {
	transform: translateZ(-110px) rotateY(180deg);
}