/* Login */
body {
    font-family: Arial, Helvetia, sans-serif;
    background-color: #e3f5ff;
}

.top {
    display: flex;
    background-color: #66aed6;
    height: 55px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top h1 {
    margin: 0 auto;
    color: #ffffff;
    padding-top: 10px;
}

.form {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(50%, 50%);
    transform: translate(-125%, 10%);
    padding-bottom: 25px;
}

.form p {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form .inicio {
    padding-bottom: 15px;
}

.form i {
    padding: 15px;
}

.form button {
    height: 42px;
    background-color: #7abadd;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.form button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #66aed6;
}

.form input {
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #b4e3fd;
    font-size: 1.2em;
}

.form input:focus {
    outline: none;
    box-shadow: 0 4px 4px #66aed6;
}

.form select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #b4e3fd;
    font-size: 1.2em;
}

/* Index */

.top-index {
    display: flex;
    background-color: #66aed6;
    height: 55px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top-index h1 {
    margin: 0 auto;
    color: #ffffff;
    padding-top: 10px;
}

.top-index div .left {
    position: relative;
    cursor: pointer;
    top: 10%;
    left: 20%;
    height: 80%;
    width: auto;
}

.top-index div .rigth {
    position: relative;
    cursor: pointer;
    top: 10%;
    right: 20%;
    height: 80%;
    width: auto;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.nav-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #b4e3fd;
    width: 200px;
    border-radius: 7px;
}

.nav-item {
    margin: 10px 0;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav-link:hover {
    background-color: #66aed6;
}

.nav-menu.active {
    display: flex;
}

.container {
    padding-top: 7px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 92vh;

}

.card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
}

.card img {
    width: 20vh;
    height: auto;

}

.card-content {
    padding-left: 20px;
    align-content: center;
    display: grid;
    margin-left: 20px;
}

.card:hover {
    transform: scale(1.009);
}

/* User */

footer {
    position: absolute;
    height: auto;
    background-color: #7abadd;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.content {
    width: 100%;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
}

.label {
    flex: 1;
    padding-left: 7%;
}

.info {
    flex: 1;
    display: flex;
    align-items: center;
    height: auto;
    padding-right: 20px;
}

.info input {
    width: 40%;
    text-align: right;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #b4e3fd;
    font-size: 1.2em;
}

.info input:focus {
    outline: none;
    box-shadow: 0 4px 4px #66aed6;
}

.info table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

.info table th {
    background-color: #66aed6;
    padding: 10px;
}

.info table td {
    padding: 10px;
    border: 1px solid #ddd;
    color: #000000;
}

.scroll {
    text-align: center;
    overflow-y: scroll;
    height: 285px;
    width: 900px;
}

/* Lend */

.can {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.can select {
    width: 80%;
    border-radius: 5px;
    border: none;
    background-color: #b4e3fd;
    font-size: 1.2em;
}

.can input {
    width: 40%;
    border-radius: 5px;
    border: none;
    background-color: #b4e3fd;
    font-size: 1.2em;
}

.tbl {
    width: 100%;
    padding-bottom: 10px;
    font-size: 1.2em;
}

.tbl table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

.tbl table th {
    background-color: #7abadd;
    color: #ffffff;
    padding: 10px;
}

.tbl table td {
    padding: 10px;
    border: 1px solid #ddd;
    color: #000000;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons div {
    padding-left: 50px;
    padding-right: 50px;
}

.buttons button {
    height: 42px;
    background-color: #7abadd;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.buttons button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #66aed6;
}

dialog {
    width: 50%;
    border-radius: 5px;
    border-style: double;
    background-color: #e3f5ff;
    border-color: #66aed6;
}

dialog p {
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
}

.dialog-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: #7abadd;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.dialog-button:hover {
    background-color: #66aed6;
}